In [3]:
import numpy as np
import pandas as pd
deaths_df = pd.read_csv("./tash_data.csv")
deaths_df.head(1)

,COUNTER,SUR,1ST,AGE,ORIG PLACE,NEWPLACE,YEAR,REF,GEN,ORIG CAUSE,...,2NDWIT,3RDWIT,4THWIT,MOTHER,FATHER,FATHER OCC,KIN,SUPERVISION,JURY FOREMN,NOTES
0,1,OWEN,MARGARETCLARA,Eight,ARARAT,ARARAT,1877,305,F,FALLACCIDENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Most common place of death NEWPLACE and ORIG PLACE appear to be identical
deaths_df["NEWPLACE"].value_counts().head(20)

MELBOURNE      1655
BENDIGO         536
BALLARAT        390
CASTLEMAINE     194
GEELONG         138
MARYBOROUGH      56
ARARAT           50
CRESWICK         46
DUNOLLY          39
KYNETON          38
BEECHWORTH       37
ECHUCA           33
CLUNES           32
DAYLESFORD       31
HOTHAM           31
HAMILTON         29
INGLEWOOD        25
TALBOT           25
COLAC            23
TARADALE         22
Name: NEWPLACE, dtype: int64

In [56]:
#Most common Cause of death
deaths_df["NEW CAUSE"].value_counts().head(20)

DROWNED        1924
DISEASE        1459
BURN            816
VEHICLE         354
FALL            339
INJURY          165
UNSPECIFIED     115
POISON          101
ANIMAL           98
SHOT             65
SUFFOCATED       64
EXHAUSTION       48
SUICIDE          23
CHOKED           16
LIGHTNING         9
CRIMINAL          6
SMOTHERED         5
STRANGLED         5
MEDICAL           4
CHILDBIRTH        1
Name: NEW CAUSE, dtype: int64

In [57]:
#Most common cause of death in each location
deaths_df.groupby(['NEWPLACE','NEW CAUSE']).size().sort_values(ascending=False).head(10)

NEWPLACE   NEW CAUSE
MELBOURNE  DROWNED      465
           DISEASE      439
           BURN         238
BENDIGO    DROWNED      217
MELBOURNE  VEHICLE      155
BALLARAT   DROWNED      136
BENDIGO    DISEASE      117
           BURN         106
BALLARAT   DISEASE      106
MELBOURNE  FALL         104
dtype: int64

In [58]:
#Most common Deaths by Gender
deaths_df.groupby(["GEN","NEW CAUSE"]).size().sort_values(ascending=False).head(10)

GEN  NEW CAUSE
M    DROWNED      1441
     DISEASE       780
F    DISEASE       676
     DROWNED       480
     BURN          460
M    BURN          356
     VEHICLE       282
     FALL          281
     INJURY        143
     ANIMAL         89
dtype: int64

In [60]:
#Most common deaths by District
deaths_df.groupby(["61 DISTRICT","NEW CAUSE"]).size().sort_values(ascending=False).head(10)

61 DISTRICT   NEW CAUSE
PASTORAL      DROWNED      962
              DISEASE      720
GOLD          DROWNED      493
METROPOLITAN  DROWNED      469
              DISEASE      439
PASTORAL      BURN         342
GOLD          DISEASE      300
METROPOLITAN  BURN         238
GOLD          BURN         236
PASTORAL      FALL         168
dtype: int64